<div>
    <h1>User list</h1>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>email</td>
                <td>role</td>
                <td>actions</td>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track user.id) {
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <button><img src="/assets/icons/history.svg" alt="Show history" height="24px" width="24px"></button>
                        @if (user.blocked) {
                            <button><img src="/assets/icons/unlock.svg" alt="Unlock user" height="24px" width="24px"></button>
                        } @else {
                            <button><img src="/assets/icons/lock.svg" alt="Lock user" height="24px" width="24px"></button>
                        }
                        <button><img src="/assets/icons/delete.svg" alt="Delete" height="24px" width="24px"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>